body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #22668A;
}

.category-aktif {
  background-color: #22668A;
  color: white;
}

.btn-primary {
  background-color: #22668A;
}

.form_container {
  width: 30%;
}

@media only screen and  (max-height: 1000px) {
  .hasil {
    height: 650px;
  }

  .menu {
    height: 800px;
  }

  .form_container {
    width: 45%;
  }
}

@media only screen and  (max-height: 700px) {
  .form_container {
    width: 45%;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
